﻿

<h1 class="text-center">Hello</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="">Name</label>
                    <input name="txtName" id="Name" class="form-control" />
                </div>
            </div>
            <div class="col-md-4">
                <label for="">Description</label>
                <input name="txtDescription" id="Description" class="form-control" />
            </div>

            <div class="col-md-4">
                <label for="">Status</label>
                <select class="form-control" name="slStatus" id="slStatus">
                    <option value="1">Action</option>
                    <option value="0">No Action</option>
                </select>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-4">
                <label for="startDate">Start Date</label>
                <input type="date" name="startDate" id="startDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
            </div>
            <div class="col-md-4">
                <label for="endDate">End Date</label>
                <input type="date" name="endDate" id="endDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
            </div>
            <div class="col-md-4 mt-5">
                <button id="btnSearch" onclick="Search()" class="btn btn-success">Search</button>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    New Add
                </button>

            </div>
        </div>
        <div class="col-md-12" style="margin-top: 20px">
            <table id="table_data" class="table table-striped table-bordered dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>CreateDate</th>
                        <th>Author</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Add</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input id="txtName" name="txtName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" id="txtDescription" name="txtDescription" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="Status">Status</label>
                        <select class="form-control" name="Status" id="Status">
                            <option value="1">Action</option>
                            <option value="0">No Action</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="createDate">CreateDate</label>
                        <input type="date" name="createDate" id="createDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                <div class="form-group">
                    <label for="description">Image</label>
                    <input type="file" id="file" name="file" class="form-control" />
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
        $("#table_data").innerHTML = "";
        function Search() {
            var name = $('#Name').val();
            var description = $('#Description').val();
            var status = $('#slStatus').val();
            var startDate = $('#startDate').val();
            var endDate = $('#endDate').val();
         
            debugger;
            $("#table_data").DataTable({
                "searching": false,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false, // for disable multiple column at once
                "bLengthChange": false,
                "ajax": {
                    url: "/Home/Search_Info",
                    data: { name: name, description: description, status: status, startDate: startDate, endDate: endDate },
                    type: "POST",
                    dataType: "json",
                },
                "columns": [
                    { "data": "Id", "autoWidth": false },
                    { "data": "Name", "autoWidth": false },
                    { "data": "Description", "autoWidth": false },
                    {
                        "data": "Status",
                        "autoWidth": false,
                        render: function (row) {
                            if (row.Status == 1) {
                                return "<p>Action</p>";
                            }
                            else {
                                return "<p>No Action</p>";
                            }
                        }
                    },
                    {
                        "data": "CreateDateStr",
                        "autoWidth": false,
                    },
                    { "data": "AuthorName", "autoWidth": false },
                    {
                        "data": "Id",
                        "autoWidth": false,
                        "render": function (data, type, row) {
                            return '<a href="/Home/Edit?Id=' + row.Id + '">Edit</a>';
                        }
                            
                    }
                ],
                "bDestroy": true
            });
        }
</script>